
@import url('./style.css');

#banner-container {
    margin: 50px 0px;
}

#banner-image{
    text-align: right;
}

#about-text::first-letter {
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 10px;
}

#skills .progress {
    min-width: 250px;
    margin-left: 10px;
    background-color: rgb(182, 168, 161);
}

.progress-container {
    list-style: none;
    text-transform: uppercase;
}

.progress-container span { font-weight: bold;}

#cv a{
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 150px;
}

/* STYLE FOR LOADING PAGE */
#loading-page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
    color: rgb(255, 168, 6);
}

#loading-progress-container {
    margin-top: 200px;
}

#loading-progress {
    width: 10rem;
    height: 10rem;
    border-width: 0.3rem;
}

/*END*/

@media screen and (max-width: 576px) {
    
    #banner-container {
        margin: 10px 0px;
    }

    #banner div, #banner{
        display: block;
        text-align: center;
    }

   .progress-container{
        display: block;
    }

    .progress-container li {
        width: 250px;
        margin: 0px auto;
        text-align: center;
    }

    .progress-container li div.progress {
        display: inline-block;
    }
}
